.profile {
  max-width: 880px;
  min-height: 120px;
  display: flex;
  margin: 40px auto 50px auto;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .profile {
    max-width: 581px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    max-width: 282px;
    margin: 0 auto 36px auto;
  }
}
